* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: rgb(143, 101, 240);
  --secondary: rgb(57, 20, 145);

  /* --secondary-red: rgb(240, 92, 34); */ 

  /* --primary-red:rgb(130, 77, 253);
  --secondary-red: rgb(88, 53, 170); */
} 

html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Montserrat', ;


}
.wrapper {
  position: relative;
  min-height: 100%;
  overflow: hidden;
} 

.container {
  /* background-image: linear-gradient(135deg, rgb(253, 252, 251) 0%, rgb(226, 209, 195) 100%); */


}

.header {
  line-height: 3.2rem;
  
  
}

.header-top {
  padding: 1rem 0;
  padding: 1rem 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--secondary);


  
}

.title-icon {
  color: rgb(240, 230, 230);


}

.title {
  color: white;
  font-size: 17px;
  letter-spacing: .3rem;
  margin-left: 1rem;

}



.weather-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.weather-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);

}
.header-city,
.header-description,
.header-temperature,
.header-feelsLike {
  color: white;

}

.header-city {
  font-size: 30px;
}

.header-temp__container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.header-description {
  font-size: 22;
}
.header-temperature {
  font-size: 50px;
}

.header-feelsLike {
  font-size: 20px;
}



.form {
  width: 100vw;
  display: flex; 
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  background-color: rgb(237, 241, 245);
}

.search-input {
  width: 30rem;
  padding: 1rem;
  border-radius: 25px;
  border: 1px solid rgba(116, 160, 255, 0.6);
  
  
}

.search-input:focus {
  outline: none;
}

.result-paragraph {
  color: var(--primary);

}



.search-btn {
  margin-left: .4rem;
  border-radius: 35px;
  background-color: var(--primary);
  color: white;
  text-transform: uppercase;
  border: none;
  padding: 1rem;
  cursor: pointer;
  width: 10rem;
  display: flex;
  justify-content: center;
}

.name-btn:focus,
.capital-btn:focus,
.population-btn:focus {
  outline: none;

}




.fa-long-arrow-alt-up {
  margin-left: .2rem;
}

.fa-long-arrow-alt-down {
  margin-left: .2rem;
}

.hide {
  display: none;
}

.show {
  display: block;
}

hr {
  height: 1px;
  width: 100%;
  color: rgb(236, 233, 233);
  margin-top: 2rem;
}

button:hover {
  background-color: var(--secondary);
  transform: translateY(-.1rem);

}

.active {
  background-color: var(--secondary);


}



.countries-weather__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem;
  background: var(--primary);

}

footer {
  padding: 1rem;
  background-color: var(--secondary);
  
}
footer p {
  color: white;
}


@media screen and (max-width: 500px) {

  .header-top {
    padding: 2rem 2rem;
    min-height: 30vh;

  }

  .title {
    font-size: 31px;
}
  .form {
   flex-direction: column;
}

  .search-input {
    width: 20rem;
  }

  .search-btn {
    margin-top: 1rem;
  }
  .weather-wrapper {
    padding: 0;
    grid-template-columns: 1fr;
}
  .weather-left {
    padding: 3rem;
  }

  
}